@use "../utilities/colors.scss" as *;
@use "../utilities//utilities.scss" as *;

.navBar {
	padding: 15rem 17rem;
	background-color: $dark-color;
	color: $light-color;
	justify-content: space-between;
	@include flexAlignCenter;
}

.logoContainer {
    @include flexAlignCenter;
	width: min-content;
}

.logoContainer .logo {
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-weight: bolder;
	color: $light-color;
	text-decoration: none;
}

.cartBtn {
    border: none;
    background-color: transparent;
	cursor: pointer;
}

:hover.cartBtn {
	opacity: 0.8;
}


:hover.cartIcon {
	transform: translateY(-2px);
}

.inputContainer {
	display: none;
	position: relative;
}

.sideBarContainer {
	padding: 10px 40px;
	display: none;
}

.checkBoxAlign {
	gap: 7px;
	padding: 5px 0;
    @include flexAlignCenter;
}

.checkBoxAlign label {
    cursor: pointer;
}

@media (min-width: 768px) {
	.navBar {
		padding: 20rem 40rem;
	}
	.inputContainer {
		display: block;
	}
	.sideBarContainer {
		display: block;
	}
}

